<!----<div class="flex-center" *ngFor = "let film of filmInfo" ></div> -->

<app-navbar></app-navbar>
<!--<div class="container">-->
<div class="header-section">
<!--  <div class="dark-overlay">-->
  <h1 class="header text-center display-4">Каталог фильмов</h1>
</div>
<!--</div>-->
  <div class="row">
<div *ngIf = "filmInfo | async as films" class="dashboard">
  <app-film-info class="row"  *ngFor="let film of films" class="box col-xl-2 col-lg-5" [film] = film>
  </app-film-info>
</div>
  </div>

<!--</div>-->

