.dashboard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1800px;
}


.header
{
  text-shadow: rgba(173,77,255,0.78) 0 0 10px;
  /*background: linear-gradient(-45deg, rgba(173,77,255,0.78), rgba(255,96,189,0.78));*/
  color: rgba(255,96,189,0.78);
 }
.header-section
{
  /*background-image: url('../../assets/1517319985_shapka-sayta-kino-6546345321.jpg');*/
  /*background-image: url('../../assets/1.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;

  /*background-attachment: fixed;*/
  min-height: 45px;

}
.dark-overlay
{
  position: absolute;
  /*top:0;*/
  /*left: 0;*/
  width: 100%;
  min-height: 100px;
  background-color: rgba(0,0,0,0.7 );

}

.box{
  width: 30%;
  /*margin-top: 2rem;*/
  background-color: rgba(255,239,242,0.7);
  margin: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  min-height: 52rem;
}
