<div class="text-center">
<ul class="list-unstyled">
  <li> <img class="image mt-5" src="{{film.image}}"></li>
  <li class="title"><h3 class="text-uppercase mt-4">{{film.name}}</h3></li>
    <li class="description"><p></p>
<!--      <h5 class="text-left">О фильме:</h5>--><p class="text-justify"> {{film.description}}</li>
  <li class="price"><p class="text-center"><span><b>Цена: </b></span>{{film.price}} руб.</p></li>
  <li><button [ngClass]="{'removebtn': isClicked,'span-shadow':!isClicked, 'btn':true,'btn-block': true}"
          (click)="add_to_favourites(film)">{{isClicked ? "Убрать из избранного" : "Добавить в избранное"}} </button>
    </li>
 <li> <em [class.invisible]="!isClicked" class="infav"><b>В избранном</b></em> </li>
</ul>
</div>
