<app-navbar></app-navbar>

  <h1 class="header display-4 text-center">Избранное</h1>

<div class="row text-center">
  <div class="container">
    <div class="totalsum alert  text-center  font-weight-bold">Общая стоимость: {{totalsum}} руб.</div>

    <div *ngIf="favList.length!=0; else nofavorites">
    <div class="dashboard mx-auto">
    <div *ngFor="let film of favList" class="box col-xl-2">
      <div>
        <ul class="list-unstyled">
          <li> <img class="image mt-5" src="{{film.image}}"></li>
            <li class="title"><h3 class="text-uppercase mt-4">{{film.name}}</h3></li>
            <li class="description"><p></p>
              <!--      <h5 class="text-left">О фильме:</h5>--><p class="text-justify"> {{film.description}}</li>
            <li class="price"><p class="text-center"><span><b>Цена: </b></span>{{film.price}} руб.</p></li>

          <li><button class="btn btn-block removebtn" (click)="remove_item(film)"> Убрать из избранного</button></li>
        </ul>
        </div>

    </div>
  </div>
    <button class=" btn lead alert removeall" (click)="remove_all()"> Очистить список</button>
  </div>
  </div>
</div>

<ng-template #nofavorites>
  <h3 class="nofavorites mx-auto">Нет избранных фильмов
  </h3>
</ng-template>

