<app-navbar></app-navbar>
<div>
  <h1 class="header text-center">Избранное</h1>
</div>
<div class="row">
  <div *ngIf = "favList; else nofavorites" class="dashboard">
<div *ngFor="let film of favList" class="box col-3">
  <div class="text-center">
    <img class="image m-5" src="{{film.image}}">
    <div class="text-center">
      <div class="description">
        <h3 class="text-center text-uppercase mt-4 ">{{film.name}}</h3>
      <p class="text-justify">{{film.description}}</p>
        <p class="text-left"><span><b>Цена: </b> </span>{{film.price}} руб.</p>
    </div>
      <!--  <quill-view-html [content] = "film.image"></quill-view-html>-->
      <button class ="span-shadow" (click)="remove_item(film)" > Убрать из избранного </button>
      <!--  <p class ="span-shadow">Добавить в избранное </p>-->
    </div>
  </div>
  </div>
</div>
</div>

  <ng-template #nofavorites>
      <p>Нет избранных фильмов...
      </p>
  </ng-template>
